* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom right, rgba(218,43,176,1) 5%, rgba(197,27,221,1) 12%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 80%, rgba(186,51,198,1) 93%, rgba(218,132,216,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100vh;
    overflow-y: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}