.container-lang {
    width: 100%;
}

.languages {
    text-align: left;
    padding: 0.8rem 0;
    color: white;
}

.bar {
    background-color: #fff;
    border-radius: 2rem;
}

.portuguese {
    background-color: #3730a3;
}
.english {
    width: 80%; 
    background-color: #3730a3;
}
.spanish {
    width: 30%;  
    background-color: #3730a3;
}

.portuguese, .english, .spanish {
    text-align: center;
    border-radius: 2rem;
}

.languages::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/correct.svg');
    margin-right: 0.5rem;
}