.content .studies .place{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
}

.content .studies .time{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem;
}

